<%- include('partials/header', { title: title, user: user, csrfToken: csrfToken, messages: messages }) %>
<h1><%= title %></h1>
<p><%= message %></p>
<p><a href="/">Go to Homepage</a></p>
<%- include('partials/footer') %>