<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Secure Notes App</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <header>
    <h1><a href="/">Secure Notes</a></h1>
    <% if (user) { %>
      <form action="/logout" method="POST" style="display:inline">
        <button type="submit">Logout (<%= user.username %>)</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      </form>
    <% } %>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
